services:
  db:
    image: mariadb:12.1
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: "${DB_DATABASE:-portfolio_db}"
      MARIADB_USER: "${DB_USERNAME:-portfolio_admin}"
      MARIADB_PASSWORD: "${DB_PASSWORD}"
      MARIADB_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
    volumes:
      - mariadb_data:/var/lib/mysql
      # - ./db/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 3s
      retries: 30
    networks:
      - appnet

volumes:
  mariadb_data:
