services:
  app:
    build:
      context: ../..
      dockerfile: docker/dockerfiles/Dockerfile.prod
    image: dev-portfolio-laravel:prod
    restart: unless-stopped
    environment:
      APP_ENV: production
      APP_DEBUG: "false"

      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: "3306"
      DB_DATABASE: "${DB_DATABASE:-portfolio_db}"
      DB_USERNAME: "${DB_USERNAME:-portfolio_admin}"
      DB_PASSWORD: "${DB_PASSWORD}"
    ports:
      - "${APP_PORT:-80}:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnet

  db:
    image: mariadb:12.1
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: "${DB_DATABASE:-portfolio_db}"
      MARIADB_USER: "${DB_USERNAME:-portfolio_admin}"
      MARIADB_PASSWORD: "${DB_PASSWORD}"
      MARIADB_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 3s
      retries: 30
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  mariadb_data:
    driver: local
